# fly.toml app configuration file generated for backend-chess-bot on 2025-12-01T10:31:18+10:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-chess-bot'
primary_region = 'syd'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
